<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>Tabs animated with Vue</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	


	<div class="container" id="app">
		<div class="tab">
		  
		  <div class="menu">
			<div class="menu__item menu__item--first" :class="[ active === 0 ? 'is-active' : '']" @click="selectedContent(0)">First</div>
			<div class="menu__item menu__item--second" :class="[ active === 1 ? 'is-active' : '']" @click="selectedContent(1)">Second</div>
			<div class="menu__item menu__item--thirst" :class="[ active === 2 ? 'is-active' : '']" @click="selectedContent(2)">Thirst</div>
			<div class="menu__line" :class="className"></div>
		  </div>
		  
		  <div class="contents">
			<transition :name="animation" mode="out-in">
			  <div class="contents__content" v-if="active === 0" key="0">
				<span class="material-icons">build</span>
				<h2>First Section</h2>
				<p>Quasi dignissimos eos ea hic impedit ipsum, aliquam nihil laborum ad, esse consequatur, delectus minus!</p>
				<button>Learn more</button>
			  </div>
			  
			  <div class="contents__content" v-if="active === 1" key="1">
				<span class="material-icons">flash_on</span>
				<h2>Second Section</h2>
				<p>Molestiae dolore itaque at dolor, odio blanditiis sequi, tempore illum doloremque repellat dolores deserunt debitis, rem eaque! Magnam placeat esse vero quisquam!</p>
				<button>Learn more</button>
			  </div>
			  
			  <div class="contents__content" v-if="active === 2" key="2">
				<span class="material-icons">lock</span>
				<h2>Thirst Section</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, cum maxime reprehenderit quisquam ratione eaque veritatis perspiciatis totam.</p>
				<button>Learn more</button>
			  </div>
			</transition>
		  </div>
		</div>
	  </div>

	  <script src="vue.js"></script>
	  <script src="main.js"></script>
</body>
</html>